:root {
    --blanco: #ffffff;
    --negro: #212121;
    --principal: #00FF00;
    --secundario: #007bff;
    --gris: #757575;
}

/*Globales*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    /*herramienta para boxmodel */
}

/*Scrooll Snap*/
.servicios,
.navegacion_principal,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    /* 1rem en igual a 10px*/
    font-family: "Roboto", sans-serif;
    background-image: linear-gradient(to top, #dfe9f3 0%, var(--blanco) 100%);
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}

.boton:hover {
    cursor: pointer;
}

.sombra {
    -webkit-box-shadow: 0px 8px 15px 0px rgba(161, 161, 168, 1);
    -moz-box-shadow: 0px 8px 15px 0px rgba(161, 161, 168, 1);
    box-shadow: 0px 8px 15px 0px rgba(161, 161, 168, 1);
    background-color: var(--blanco);
    padding: 2.5rem;
    border-radius: 1rem;
}

/*Tipografia*/
h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 3.8rem;
}

h3 {
    font-size: 2.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}

/*Titulos*/
.titulo span {
    font-size: 2rem;
    text-align: center;
}

/*Utilidades*/
.w-sm-100 {
    width: 100%;
}

@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}

.flex {
    display: flex;
}

.alinear-derecha {
    justify-content: flex-end;
}

/*Navegación principal*/
.nav-bg {
    background-color: var(--secundario);
}

.navegacion_principal {
    background-color: var(--secundario);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .navegacion_principal {
        flex-direction: row;
        justify-content: space-between;
    }

}

.navegacion_principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem;
}

.navegacion_principal a:hover {
    background-color: var(--principal);
    color: var(--gris);
}

/*Hero*/
.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2.5rem;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    /** esta en la sintaxis anterior **/
    background-color: rgb(0 0 0/40%);
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);

}

.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}

/*servicios*/
@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--secundario);
}

.servicio p {
    line-height: 2;
    text-align: center;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--principal);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Contacto*/
.formulario {
    background-color: var(--gris);
    width: min (60rem, 100%);
    /*Utiliza el balor más pequeño*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--blanco);
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1/3;
    }
}

.contenedor-campos {
    display: grid;
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.campo textarea {
    height: 20rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

/*footer*/

.footer {
    text-align: center;
}